<template>
  <div class="animated fadeIn">
    <b-alert variant="danger"
             dismissible
             :show="showErrorAlert"
             @dismissed="showErrorAlert=false">
      {{error}}
    </b-alert>

    <loading
      v-if="isLoading"
      :loadingMessage="loadingMessage"
      :isGiphy="false">
    </loading>

    <div class="row">
      <div v-for="(dashboardCard, index) in dashboardCards"
          v-bind:key="dashboardCard._id"
          class="col-sm-12 col-md-4">
        <b-card class="text-white dashboard-card">
          <div class="dashboard-card-title">
            <h2>{{dashboardCard.environment}}</h2>
          </div>
          <ul>
            <li>
              <strong v-if="dashboardCard.frontVersion">{{dashboardCard.frontVersion}}</strong>
              <strong v-else>Nothing here</strong>
              <span>front</span>
            </li>
            <li>
              <strong v-if="dashboardCard.backVersion">{{dashboardCard.backVersion}}</strong>
              <strong v-else>Nothing here</strong>
              <span>back</span>
            </li>
          </ul>
        </b-card>
      </div>
    </div>
  </div>
</template>

<script>
import Loading from '@/components/Loading';
import requestService from '@/services/request';

export default {
  name: 'dashboard',
  data() {
    return {
      loadingMessage: 'Loading dashboard cards...',
      isLoading: false,
      showErrorAlert: false,
      error: null,
      dashboardCards: [],
    };
  },
  created() {
    this.fetchData();
  },
  watch: {
    $route: 'fetchData',
  },
  methods: {
    fetchData() {
      this.dashboardCards = [];
      this.isLoading = true;
      this.$http.get(`${process.env.API_URL}/dashboard`)
        .then((response) => {
          this.isLoading = false;
          this.dashboardCards = response.body;
        })
        .catch(requestService.handleError.bind(this));
    },
  },
  components: {
    Loading,
  },
};
</script>

<style lang="scss" scoped>
  .dashboard-card {
    text-align: center;

    .card-body {
      padding: 0;
      min-height: 160px;

      .dashboard-card-title {
        text-transform: uppercase;
        background: #20a8d8;
        height: 90px;

        h2 {
          line-height: 90px;
        }
      }

      ul {
        padding: 10px 0;
        list-style: none;
        color: #000;

        li {
          display: block;
          float: left;
          width: 50%;

          &:first-child {
            border-right: 1px solid #c2cfd6;
          }

          strong {
            display: block;
            font-size: 20px;
          }

          span {
            font-size: 14px;
            font-weight: 500;
            color: #8a9398;
          }
        }
      }
    }
  }
</style>
