<template>
  <div class="animated fadeIn">
    <b-alert variant="danger"
             dismissible
             :show="showErrorAlert"
             @dismissed="showErrorAlert=false">
      {{error}}
    </b-alert>

    <loading
      v-show="isLoading"
      :loadingMessage="loadingMessage"
      :isGiphy="true">
    </loading>

    <div v-show="!isLoading" class="row">
      <div class="col-md-12">
        <b-card>
          <div slot="header">
            Deployment configuration
          </div>
          <b-form @submit.prevent="onSubmit">
            <b-form-fieldset
              label="Environment"
              :label-cols="3"
              :horizontal="true">
              <b-form-select
                v-model="form.environment"
                :plain="true"
                :options="environments"
                required>
              </b-form-select>
            </b-form-fieldset>
            <version-selector
              :form="form"
              v-on:isLoadingChange="toggleIsLoadingStatus"
              v-on:loadingMessageChange="updateLoadingMessage"
              :isSnapshotVersion="isSnapshotVersion">
            </version-selector>
            <b-form-fieldset
              label="Tell us who you're ?"
              :label-cols="3"
              :horizontal="true">
                <b-form-input v-model="form.username" type="text" id="username" placeholder="Your name"></b-form-input>
            </b-form-fieldset>
            <div slot="footer">
              <b-button class="deploy-action-button" @click.prevent="warnOnSlack" size="sm" variant="warning" :disabled="!environmentSelected"><i class="fa fa-magic"></i> Warn people on slack that you’re going to break everything...</b-button>
              <b-button class="deploy-action-button" type="submit" size="sm" variant="primary" :disabled="!warnMessageSent"><i class="fa fa-dot-circle-o"></i> Submit</b-button>
              <b-button type="reset" size="sm" variant="danger" @click.prevent="reset"><i class="fa fa-ban"></i> Reset</b-button>
            </div>
          </b-form>
        </b-card>
      </div>
    </div>
  </div>
</template>

<script>
import Loading from '@/components/Loading';
import VersionSelector from '@/components/VersionSelector';
import requestService from '@/services/request';

export default {
  name: 'deployment',
  data() {
    return {
      warnMessageSent: false,
      isLoading: false,
      loadingMessage: 'Loading...',
      showErrorAlert: false,
      error: null,
      giphy: null,
      form: {
        environment: null,
        backVersion: null,
        frontVersion: null,
        instableFront: false,
        instableBack: false,
        keepData: false,
        username: this.$localStorage.get('username'),
      },
      environments: [
        { text: 'Please select an option', value: null },
        { text: 'Testing', value: 'testing' },
        { text: 'Staging', value: 'staging' },
        { text: 'Stable', value: 'stable' },
        { text: 'Testing Mock', value: 'testing-mock' },
        { text: 'Staging Mock', value: 'staging-mock' },
        { text: 'Stable Mock', value: 'stable-mock' },
      ],
    };
  },
  methods: {
    onSubmit() {
      this.loadingMessage = 'Running the script...';
      this.isLoading = true;
      if (!this.isSnapshotVersion(this.form.frontVersion)) {
        this.form.instableFront = false;
      }
      if (!this.isSnapshotVersion(this.form.backVersion)) {
        this.form.instableBack = false;
      }
      this.$http.post(`${process.env.API_URL}/deploy`, this.form).then((response) => {
        if (response.ok) {
          this.isLoading = false;
          this.reset();
          this.$router.push({ name: 'History' });
          this.$toasted.show('Application deployed with success !');
        }
      }, requestService.handleError.bind(this));
    },
    reset() {
      this.form = {
        environment: null,
        backVersion: null,
        frontVersion: null,
        instableFront: false,
        instableBack: false,
        keepData: false,
        username: null,
      };
    },
    isSnapshotVersion(version) {
      return version && version.includes('SNAPSHOT');
    },
    toggleIsLoadingStatus(status) {
      this.isLoading = status;
    },
    updateLoadingMessage(message) {
      this.loadingMessage = message;
    },
    warnOnSlack() {
      this.$http.post(`${process.env.API_URL}/slack/warn-for-deployment`, this.form).then((response) => {
        if (response.ok) {
          this.warnMessageSent = true;
          this.$toasted.show('People are now aware of this tragedy !');
        }
      }, requestService.handleError.bind(this));
      if (this.form.username) {
        this.$localStorage.set('username', this.form.username);
      }
    },
  },
  computed: {
    environmentSelected() {
      return this.form.environment;
    },
  },
  components: {
    Loading,
    VersionSelector,
  },
};
</script>

<style lang="scss" scoped>
  .deploy-action-button.disabled:hover {
    cursor: not-allowed;
  }
</style>

