<template>
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-md-12">
        <div class="settings-title">
          <img src="/static/gif/great-power.gif" alt="With great power comes great responsibility GIF" class="mx-auto">
        </div>

        <b-alert variant="danger"
             dismissible
             :show="showErrorAlert"
             @dismissed="showErrorAlert=false">
          {{error}}
        </b-alert>

        <b-card>
          <div slot="header">
            Settings
          </div>
          <b-form @submit.prevent="onSubmit">
            <b-form-fieldset label="Artifactory API Key">
                <b-form-input v-model="form.artifactoryAPIKey" type="text" id="artifactory-api-key" placeholder="Artifactory API Key" required></b-form-input>
            </b-form-fieldset>
            <b-form-fieldset label="Artifactory Repository">
                <b-form-input v-model="form.artifactoryRepository" type="text" id="artifactory-repository" placeholder="Artifactory Repository" required></b-form-input>
            </b-form-fieldset>
            <b-form-fieldset label="Artifactory Server">
                <b-form-input v-model="form.artifactoryServer" type="text" id="artifactory-server" placeholder="Artifactory Server" required></b-form-input>
            </b-form-fieldset>
            <b-form-fieldset label="Backend Host">
                <b-form-input v-model="form.backendHost" type="text" id="backend-host" placeholder="Backend Host" required></b-form-input>
            </b-form-fieldset>
            <div slot="footer">
              <b-button type="submit" size="sm" variant="primary"><i class="fa fa-dot-circle-o"></i> Submit</b-button>
              <b-button type="reset" size="sm" variant="danger" @click.prevent="reset"><i class="fa fa-ban"></i> Reset</b-button>
              <loading
                v-if="isLoading"
                :loadingMessage="loadingMessage"
                :isGiphy="false">
              </loading>
            </div>
          </b-form>
        </b-card>
      </div>
    </div>
  </div>
</template>

<script>
import Loading from '@/components/Loading';
import requestService from '@/services/request';

export default {
  name: 'settings',
  mounted() {
    this.loadingMessage = 'Loading settings...';
    this.isLoading = true;
    this.$http.get(`${process.env.API_URL}/setting/config`)
      .then((response) => {
        this.form = response.body;
        this.isLoading = false;
      })
      .catch(requestService.handleError.bind(this));
  },
  data() {
    return {
      isLoading: false,
      loadingMessage: 'Loading...',
      showErrorAlert: false,
      error: null,
      form: {
        artifactoryAPIKey: null,
        artifactoryRepository: null,
        artifactoryServer: null,
        backendHost: null,
      },
    };
  },
  methods: {
    onSubmit() {
      this.loadingMessage = 'Saving config...';
      this.isLoading = true;
      this.$log.debug('Form data', JSON.stringify(this.form));
      this.$http.put(`${process.env.API_URL}/setting/${this.form._id}`, this.form).then((response) => {
        if (response.ok) {
          this.isLoading = false;
          this.$router.push({ name: 'Dashboard' });
          this.$toasted.show('Config updated !');
        }
      }, requestService.handleError.bind(this));
    },
    reset() {
      this.form = {
        artifactoryAPIKey: null,
        artifactoryRepository: null,
        artifactoryServer: null,
        backendHost: null,
      };
    },
  },
  components: {
    Loading,
  },
};
</script>

<style lang="scss" scoped>
  .settings-title {
    margin-bottom: 1.5rem;

    img {
      display: block;
    }
  }
</style>

