<template>
  <footer class="app-footer">
    <span>Made with <span class="footer-emoji"> ❤ </span>️ by <span class="footer-emoji"> 🦄 </span> & <span class="footer-emoji"> 🐵 </span></span>
    <span class="ml-auto">Powered by <a href="https://fr.wikipedia.org/wiki/Variable_m%C3%A9tasyntaxique">TOTO</a> &copy; {{currentYear}}</span>
  </footer>
</template>
</template>
<script>
export default {
  name: 'footer',
  data() {
    return {
      currentYear: new Date().getFullYear(),
    };
  },
};
</script>

<style lang="scss" scoped>
  .footer-emoji {
    padding: 0 3px;
  }
</style>
