<template>
  <div class="version-selector">
    <b-form-fieldset
      label="Version Backend"
      :label-cols="3"
      :horizontal="true">
      <b-form-select
        v-model="form.backVersion"
        :plain="true"
        :options="versionBackOptions">
      </b-form-select>
    </b-form-fieldset>
    <b-form-fieldset
      label="Version Frontend"
      :label-cols="3"
      :horizontal="true">
      <b-form-select
        v-model="form.frontVersion"
        :plain="true"
        :options="versionFrontOptions">
      </b-form-select>
    </b-form-fieldset>
    <b-form-fieldset
      label="Keep Data"
      :label-cols="3"
      :horizontal="true">
        <b-form-checkbox v-model="form.keepData">(if this option is selected we will keep the data in the existing database otherwise everything will be erase)</b-form-checkbox>
    </b-form-fieldset>
    <b-form-fieldset
      v-if="isFrontSnapshotVersion"
      label="Instable Frontend"
      :label-cols="3"
      :horizontal="true">
        <b-form-checkbox v-model="form.instableFront">(if this option is selected we will take the artifact of the last push on any branch)</b-form-checkbox>
    </b-form-fieldset>
    <b-form-fieldset
      v-if="isBackSnapshotVersion"
      label="Instable Backend"
      :label-cols="3"
      :horizontal="true">
        <b-form-checkbox v-model="form.instableBack">(if this option is selected we will take the artifact of the last push on any branch)</b-form-checkbox>
    </b-form-fieldset>
  </div>
</template>

<script>
import requestService from '@/services/request';

export default {
  name: 'version-selector',
  props: {
    form: {
      type: Object,
      required: true,
    },
    isSnapshotVersion: {
      type: Function,
      required: true,
    },
  },
  data() {
    return {
      versionFrontOptions: [{
        text: 'Please select an option',
        value: null,
      }],
      versionBackOptions: [{
        text: 'Please select an option',
        value: null,
      }],
    };
  },
  mounted() {
    this.fetchVersions();
  },
  methods: {
    fetchVersions() {
      this.$emit('isLoadingChange', true);
      this.$emit('loadingMessageChange', 'Loading version options from Artifactory...');
      const promises = [
        this.$http.get(`${process.env.API_URL}/version/front`),
        this.$http.get(`${process.env.API_URL}/version/back`),
      ];
      Promise.all(promises)
        .then((values) => {
          values.forEach((response, index) => {
            const versions = response.body.versions;
            versions.forEach((version) => {
              if (index === 0) {
                this.versionFrontOptions.push(version);
              } else if (index === 1) {
                this.versionBackOptions.push(version);
              }
            });
          });
          this.$emit('isLoadingChange', false);
        })
        .catch(requestService.handleError.bind(this));
    },
  },
  computed: {
    isFrontSnapshotVersion() {
      return this.isSnapshotVersion(this.form.frontVersion);
    },
    isBackSnapshotVersion() {
      return this.isSnapshotVersion(this.form.backVersion);
    },
  },
};
</script>
